$primary-color: #4795fc;
$primary-color-1: #1d72f4;
$primary-color-2: #4392fb;
$primary-color-3: #3786ef;
$success-color: #6ac243; 
$danger-color: #f0795d;
$light-color: #ebeef1;
$disable-color: #d5d7da;
$active-color: #fff;
$dark-color: #0c253f;

$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;

$header-bg-color: linear-gradient($primary-color-1, $primary-color);
$header-height: 60px;
$header-height-sm: 60px;
$border-color: #e6e6e6;
$nav-width: 220px;

$btn-default-color: #9fabb7;

$page-min-width: 1360px;
// padding
$padding-md: 20px;
$padding-sm: 12px;
$padding-xs: 8px;