.ht-date-range {
    display: flex;
    .date-picker {
        flex: auto;
    }
    .date-range-link {
        padding: 0 3px;
    }
    .el-input--prefix .el-input__inner {
        padding: 0 12px;
    }
    .el-icon-date {
        display: none;
    }
    .el-input__icon {
        width: 10px;
    }
}