
@import "./var";

.ht-tabs {
    margin: 0;
    padding: 0;
    font-size: 16px;

    li.tab {
        cursor: pointer;
        display: inline-block;
        height: 34px;
        line-height: 34px;
        text-align: center;
        padding: 0 12px;
        border-bottom: 2px solid transparent;

        &.active {
            color: $color-primary;
            border-color: $color-primary;
            @include font_color("color-primary");
            @include border_color("color-primary");
        }

        .warning-text {
            color: $color-warning;
        }

        .danger-text {
            color: $color-danger;
        }
    }

    &.tabs-large {
        li.tab {
            height: 40px;
            line-height: 40px;
        }
    }

    &.tabs-regular {
        border-bottom: 1px solid #C9CED4;
        
        li.tab {
            color: $color-text-primary;

            &.active {
                background: $color-bg-primary-light;
            }
        }
    }

    &.tabs-primary {
        background-color: $color-bg-primary;
        @include background_color("color-bg-primary");
        color: $border-color-base;

        li.tab {
            border-bottom: none;

            &.active {
                color: $color-content-bg;
                @include font_color("color-content-bg");
                background-color: $color-bg-primary-dark;
                @include background_color("color-bg-primary-dark");
            }
        }
    }
}