<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>index</title>
    <style>
        html, body, div, p, ul, li, span, i{ margin: 0; padding: 0; font-size: 14px;}
        img{ vertical-align: top; width: 100%;}
    </style>
</head>
<body>

    <ul>
        <% for(var i=0; i<articles.length; i++){ %>
        <li>
            <a href="/article?id=<%= articles[i].ID %>">
                <h2><%= articles[i].title %></h2>
                <p><%= articles[i].summary %></p>
            </a>
        </li>
        <% } %>
    </ul>
</body>
</html>