.login-form {
  margin: 50px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    label{
      display: inline-block;
      width: 100px;
    }
    input{
      flex: 1;
      border: 1px solid #ccc;
    }
  }
}