.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/static/img/16_ic_dengchu.png
/static/js/json2.js
/static/js/SuperSYSDK.js
/json2.js
/main.js
/static
/static
/src/static/img/02_icon_lqb_an-.png
/src/components/my/my1.vue
/src/static/img/c_icon_renwuzhongxin.png
/src/components/user/accountv
/src/components/game/newgame
/src/components/game/newgame/newGame.vue
/src/components/game/BT/classify
/src/components/game/DIS/classify
/src/components/my/gameQuestion/myAnswerings
/src/components/my/gameQuestion/myQuestion
