//.home{
//  height: 100%;
//  display: flex;
//  flex-direction: column;
//  .main{
//    flex: 1;
//  }
//}
input:focus { outline: none; }
input, button{
  background: none;
  outline: none;
  border: 0;
}

.main{
  padding: 1em;
  .memo{
    display: flex;
    align-items: center;
    height: 2.5rem;
    background-color: #ffffff;
    border: 1px solid #31cbfb;
    .memo-input{
      margin: 0 .5em;
      flex: 1;
      //height: 100%;
      border: none;
    }
    .memo-button{
      width: 5rem;
      height: 100%;
      border: none;
      font-size: 1.1rem;
      color: #fff;
      background-color: #31cbfb;
    }
    .memo-button:active{
      background-color: #61dafb;
    }
  }
}