@import './var.scss';

.text-black {
  color: $color-text-base;
}

.text-grey {
  color: #999999;
}

.text-black-title {
  color: $color-text-title;
}

.text-orange {
  color: $color-warning;
}

.text-blue {
  color: $color-primary;
}