.hz-container {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .ht-header {
    display: block;
    box-sizing: border-box;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 10px;
    border-radius: 4px;
  }

  .ht-main {
    display: block;
    flex: 1;
    flex-basis: auto;
    overflow: auto;
    // overflow-x: hidden;
    // overflow-y: auto;
    box-sizing: border-box;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
  }
}

.text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}