/* menu icon */
.icon-menu-logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  background-image: url('~@/assets/img/icons/menu-logo.png');
}

.icon-menu-base {
	background-image: url('~@/assets/img/icons/menu-base.png');
	background-size: 22px 22px;
}

.icon-menu-setup {
	background-image: url('~@/assets/img/icons/menu-setup.png');
	background-size: 22px 22px;
}

.icon-edit {
  display: inline-block;
  width: 18px;
  height: 18px;
	background-image: url('~@/assets/img/icons/icon-edit.png');
  background-size: 100% 100%;
  cursor: pointer;
}
.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
}
.icon-check {
	background-image: url('~@/assets/img/icons/icon-check.png');
  background-size: 100% 100%;
  cursor: pointer;
}
.icon-uncheck {
	background-image: url('~@/assets/img/icons/icon-uncheck.png');
  background-size: 100% 100%;
  cursor: pointer;
}