@import "@/assets/scss/theme.scss";

.setting_form {
  :global(.anticon-question-circle) {
    font-size: 16px;
    color: $warning-color;
    cursor: pointer;
    margin-right: 4px;
  }
  .setting_title {
    font-size: 14px;
    font-weight: 700;
    color: $heading-color;
  }
}