/*页脚*/
#footer
{
	text-align: center;
}
/*服务*/
#footer .service
{
	background-color: #f2f2f2;
}
#footer .service img
{
	margin: 26px 48px 20px;
}
/*帮助*/
#footer .help
{
	margin: 34px auto 40px;
	position: relative;
	width: 800px;
}
#footer .help dl
{
	float: left;
	width: 160px;
}
#footer .help dl dt
{
	font-size: 16px;
	line-height: 30px;
	color: #000;
}
#footer .help dl dd
{
	font-size: 14px;
	line-height: 24px;
}
#footer .help .footerLogo
{
	position: absolute;
	top: 20px;
	right: -200px;
}
/*版权*/
#footer .copyright .copyright_links .copyright_split
{
	margin: 0 20px;
}
