.authorize-parts-tips {
  margin: 0;
  padding: 0;
  width: 520px;
  height: 220px;

  .el-message-box__header {
    padding: 20px 0;
    background: #f6fafd;

    .el-message-box__title {
      margin-left: 20px;
      width: 36px;
    }
  }
}