.beyond-max-login-number-tips {
    margin: 0;
    padding: 0;
    width: 630px;
    height: 520px;

    .el-message-box__header {
        padding: 20px 0;
        background: #f6fafd;

        .el-message-box__title {
            margin-left: 20px;
            width: 200px;
        }
    }
}
