$level1: 10px;
$level2: 20px;
$level3: 30px;
$level3x: 38px;
$level4: 40px;
$level5: 50px;

.mt-half {
    margin-top: 5px !important;
}

.mt-1 {
    margin-top: $level1 !important;
}

.mt-2 {
    margin-top: $level2 !important;
}

.mt-3 {
    margin-top: $level3 !important;
}

.mt-4 {
    margin-top: $level4 !important;
}

.mt-5 {
    margin-top: $level5 !important;
}

.mt-3-x {
    margin-top: $level3x !important;
}

.mb-1 {
    margin-bottom: $level1 !important;
}

.mb-2 {
    margin-bottom: $level2 !important;
}

.mb-3 {
    margin-bottom: $level3 !important;
}

.mb-4 {
    margin-bottom: $level4 !important;
}

.mb-5 {
    margin-bottom: $level5 !important;
}

.ml-1 {
    margin-left: $level1 !important;
}

.ml-2 {
    margin-left: $level2 !important;
}

.ml-3 {
    margin-left: $level3 !important;
}

.ml-4 {
    margin-left: $level4 !important;
}

.ml-5 {
    margin-left: $level5 !important;
}

.mr-1 {
    margin-right: $level1 !important;
}

.mr-2 {
    margin-right: $level2 !important;
}

.mr-3 {
    margin-right: $level3 !important;
}

.mr-4 {
    margin-right: $level4 !important;
}

.mr-5 {
    margin-right: $level5 !important;
}

.pt-1 {
    padding-top: $level1 !important;
}

.pt-2 {
    padding-top: $level2 !important;
}

.pt-3 {
    padding-top: $level3 !important;
}

.pt-4 {
    padding-top: $level4 !important;
}

.pt-5 {
    padding-top: $level5 !important;
}

.pb-1 {
    padding-bottom: $level1 !important;
}

.pb-2 {
    padding-bottom: $level2 !important;
}

.pb-3 {
    padding-bottom: $level3 !important;
}

.pb-4 {
    padding-bottom: $level4 !important;
}

.pb-5 {
    padding-bottom: $level5 !important;
}

.pl-1 {
    padding-left: $level1 !important;
}

.pl-2 {
    padding-left: $level2 !important;
}

.pl-3 {
    padding-left: $level3 !important;
}

.pl-4 {
    padding-left: $level4 !important;
}

.pl-5 {
    padding-left: $level5 !important;
}

.pr-1 {
    padding-right: $level1 !important;
}

.pr-2 {
    padding-right: $level2 !important;
}

.pr-3 {
    padding-right: $level3 !important;
}

.pr-4 {
    padding-right: $level4 !important;
}

.pr-5 {
    padding-right: $level5 !important;
}