@import "./var.scss";

.due-message-box {
  padding: 0 !important;
  width: 480px !important;
  border: 0 !important;
  box-shadow: none !important;
  background: transparent !important;

  .el-message-box__header {
    top: 50px !important;
    right: 20px !important;
    z-index: 9 !important;

    .el-message-box__headerbtn .el-message-box__close {
      color: $color-text-regular !important;
    }
  }

  .el-message-box__content {
    padding: 0 !important;
  }

  .el-message-box__btns {
    padding: 0 !important;
  }
}

.due-message {
  width: 480px;
  height: 708px;
  background-image: url("../images/img-expire-tips.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .title {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: rgb(213, 243, 253);
  }

  .text {
    margin: 0 40px;
    margin-top: 16px;
    line-height: 40px;
    font-family: YSHST;

    .text-title {
      font-size: 16px;
      color: rgb(245, 60, 60);
      font-family: inherit;
    }

    .text-content {
      text-align: left;
      font-family: inherit;

      .text-content-item {
        margin-left: 24px;
        font-family: inherit;

        .text-price {
          color: rgb(245, 60, 60);
          font-family: inherit;
        }
      }
    }

    .text-contact {
      margin-top: 10px;
      display: flex;
      line-height: 30px;
      text-align: left;
      font-family: inherit;

      .text-phone {
        font-family: inherit;
      }

      .text-wechat-container {
        margin-left: 25%;
        font-family: inherit;

        .text-wechat {
          width: 80px;
          height: 80px;
          background-image: url("../images/qr-code-wechat-public.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .text-wechat-denso {
          width: 80px;
          height: 80px;
          background-image: url("../images/qr-code-wechat-public-denso.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin-top: 8px;
        }
      }
    }

    .text-tips {
      text-align: left;
      font-family: inherit;
    }
  }

  .button {
    margin: 0 auto;
    margin-top: 74px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: rgb(213, 243, 253);
    border-radius: 18px;
    background-image: linear-gradient(-224deg, #fabe4e, #f79142);
    cursor: pointer;
  }
}
.due-message-denso {
  background-image: url("../images/img-expire-tips-denso.png");
  .text {
    margin: 0 20px;
    margin-top: 24px;
    line-height: 45px;
  }
  .text-contact {
    margin-top: 45px !important;
  }
}
