.headerNoPadding {
  padding: 0;
  height: 46px;
}

.putaway {
  position: absolute;
  right: 23px;
  top: 0;
  cursor: pointer;
  color: #3caae8;
  line-height: 46px;
}

.marginb_10 {
  margin-bottom: 5px;
}

.setting_tips {
  padding-left: 40px;
  text-indent: -10px;
}
