.container-header {
      padding: 20rpx 20rpx 0 20rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 53%;

      .container-header-location {
        font-size: 24rpx;
        font-family: Source Han Sans CN-Regular, Source Han Sans CN;
        font-weight: 400;
        image{
          width: 36rpx;
          height: 36rpx;
          transform: rotate(180deg);
        }
      }

      .container-header-title {
        font-size: 34rpx;
        font-family: Source Han Sans CN-Regular, Source Han Sans CN;
        font-weight: 400;
      }
    }
.container {
		padding: 32rpx;

		.container-location-box {
			padding: 32rpx;
      margin-bottom: 16rpx;
			height: 120rpx;
			background: #FFFFFF;
			box-shadow: inset 0 -2rpx 0 2rpx #EAEAEA;

			.location-box-top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 2rpx solid #F0F0F0;
				padding-bottom: 24rpx;

				.box-top-title {
					font-size: 28rpx;
					font-family: PingFang SC-常规, PingFang SC;
					font-weight: normal;
					color: #333333;
				}

				.box-top-switch {
					font-size: 24rpx;
					font-family: PingFang SC-常规, PingFang SC;
					font-weight: normal;
					color: #FF5F00;
          image{
            width: 10rpx;
            height: 16rpx;
          }
				}
			}

			.location-box-footer {
				padding-top: 24rpx;

				.box-top-title {
					font-size: 24rpx;
					font-family: PingFang SC-常规, PingFang SC;
					font-weight: normal;
					color: #333333;
          image{
            width: 24rpx;
            height: 26rpx;
          }
				}
			}
		}
	}
