.active {
  color: red;
}

.tabbar {
  position: fixed;
  bottom: -1px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  ul {
    display: flex;
    list-style: none;
    li {
      flex: 1;
      cursor: pointer;
    }
  }
}