.ai-select {
  position: relative;
}

.project-select {
  .ant-select-selector {
    color: #2c68ff !important;
    border-color: #2c68ff !important;
    border-radius: 6px;
  }

  .ant-select-arrow {
    color: #2c68ff !important;
  }
}

.ai-text-markdown {
  word-break: break-all;

  strong {
    font-weight: 500;
  }

  ol {
    margin-left: 20px;
    list-style: decimal;
  }

  ul {
    margin-left: 20px;
    list-style: disc;
  }
}

.dot-flashing {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2c68ff;
  color: #2c68ff;
  animation: dotFlashing 0.6s infinite linear alternate;
  animation-delay: 0.3s;
}

.dot-flashing::before {
  left: -10px;
  animation: dotFlashing 0.6s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 10px;
  animation: dotFlashing 0.6s infinite alternate;
  animation-delay: 0.6s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2c68ff;
  color: #2c68ff;
}

@keyframes dotFlashing {
  0% {
    background-color: #2c68ff;
  }

  100% {
    background-color: #d3d9e6;
  }
}

.ai-drawer {
  .ant-drawer-content-wrapper {
    box-shadow: none;
    // display: flex;
    // align-items: center;
  }
}

.tabs-flex {
  height: 100%;
  /* 无滚动条 */

  .ant-segmented {
    background-color: transparent;
    display: flex;
    overflow-x: auto;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 36px;
    height: auto;

    -ms-overflow-style: none; // IE 10+
    scrollbar-width: none;

    /* 针对Chrome, Safari和Opera等WebKit浏览器 */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .ant-segmented-group {
      width: auto;
      padding: 2px;
      border-radius: 8px;
      background-color: #f5f5f5;
      // height: 38px !important;

      .ant-segmented-item {
        height: 32px;

        .ant-segmented-item-label {
          line-height: 32px;
          height: 32px;
        }

        &.ant-segmented-item-selected {
          border-radius: 8px;
        }
      }
    }
  }

  .ant-tabs-content {
    height: 100%;

    .ant-tabs-tabpane {
      height: 100%;
      overflow-y: auto;
    }
  }
}