@mixin box-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin text-overflow-by-row($row) {
  overflow:hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $row;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  // IE10
  -ms-overflow-style: none;

  // Firefox

  overflow: -moz-scrollbars-none;
}
