# vim: set ft=nginx:

server {
  listen {{ .ListenPort }} default_server;
  root /var/www/erp-partners;
  try_files $uri $uri/ /index.html;

  index index.html;

  location ~ \.html {
    add_header Cache-Control "must-revalidate";
  }
  {{ if .SendfileOff }}sendfile off;{{ end }}
  access_log /var/log/nginx/erp-partners/web.log std;
  error_log  /var/log/nginx/erp-partners/web.err;
}
