@font-face {
  font-family: "iconfont"; /* Project id 2589930 */
  src: url('iconfont.woff2?t=1634107520449') format('woff2'),
       url('iconfont.woff?t=1634107520449') format('woff'),
       url('iconfont.ttf?t=1634107520449') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home_merchants:before {
  content: "\e745";
}

.icon-home_announcement:before {
  content: "\e746";
}

.icon-home_car:before {
  content: "\e747";
}

.icon-home_phone:before {
  content: "\e748";
}

.icon-home_friends:before {
  content: "\e74a";
}

.icon-home_tire:before {
  content: "\e74b";
}

.icon-tab_shop_nor:before {
  content: "\e73b";
}

.icon-tab_my_sel:before {
  content: "\e73c";
}

.icon-tab_home_sel:before {
  content: "\e73d";
}

.icon-tab_order_sel:before {
  content: "\e740";
}

.icon-tab_shop_sel:before {
  content: "\e741";
}

.icon-tab_order_nor:before {
  content: "\e742";
}

.icon-tab_my_nor:before {
  content: "\e743";
}

.icon-tab_home_nor:before {
  content: "\e744";
}

.icon-search:before {
  content: "\e727";
}

.icon-crown:before {
  content: "\e749";
}

.icon-back:before {
  content: "\e73e";
}

.icon-fork_line:before {
  content: "\e73f";
}

.icon-member_v1_white:before {
  content: "\e736";
}

.icon-member_v5_white:before {
  content: "\e737";
}

.icon-member_v3_white:before {
  content: "\e738";
}

.icon-member_v2_white:before {
  content: "\e739";
}

.icon-member_v4_white:before {
  content: "\e73a";
}

.icon-compile:before {
  content: "\e735";
}

.icon-direction_down:before {
  content: "\e711";
}

.icon-direction_up:before {
  content: "\e712";
}

.icon-fork_fill:before {
  content: "\e713";
}

.icon-direction_right:before {
  content: "\e714";
}

.icon-radio_nor:before {
  content: "\e726";
}

.icon-my_setting:before {
  content: "\e728";
}

.icon-radio_sel:before {
  content: "\e72a";
}

.icon-radio_side_nor:before {
  content: "\e72d";
}

.icon-reduce_nor:before {
  content: "\e72e";
}

.icon-radio_side_sel:before {
  content: "\e72f";
}

.icon-star_sel:before {
  content: "\e730";
}

.icon-star_nor:before {
  content: "\e731";
}

.icon-state_2:before {
  content: "\e732";
}

.icon-state_1:before {
  content: "\e733";
}

.icon-add:before {
  content: "\e70e";
}

.icon-arrows_black:before {
  content: "\e70a";
}

