.ht-container {
  width: $width-main;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.strong {
  font-weight: 600;
}

.m-t {
  margin-top: 8px;
}

.nowrap {
  white-space: nowrap;
}

.lip {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lip-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lip-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.user-select-none {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.divider-end {
  width: 500px;
  margin: 0 auto;
}

.pagenation-wrap {
  padding: 16px;
  text-align: right;
}