.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.icon-14 {
  display: inline-block;
  width: 14px;
  height: 14px;
}

.logo-main {
  display: inline-block;
  width: 156px;
  height: 60px;
  background-image: url("~@/assets/img/logo/logo-main.png");
  background-size: 100% 100%;
}

.logo-32 {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("~@/assets/img/logo/logo32.png");
  background-size: 100% 100%;
}

.logo-20 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("~@/assets/img/logo/logo20.png");
  background-size: 100% 100%;
}

.icon-user {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-user.png");
  background-size: 100% 100%;
}

.icon-phone-gray {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-phone-gray.png");
  background-size: 100% 100%;
}

.icon-house {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-house.png");
  background-size: 100% 100%;
}

.icon-house-gray {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-house-gray.png");
  background-size: 100% 100%;
}

.icon-site {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-site.png");
  background-size: 100% 100%;
}

.icon-site-gray {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-site-gray.png");
  background-size: 100% 100%;
}

.icon-soso-white {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-soso-white.png");
  background-size: 100% 100%;
}

.icon-soso-gray {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-soso-gray.png");
  background-size: 100% 100%;
}

.icon-left {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-left.png");
  background-size: 100% 100%;
}

.icon-right {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-right.png");
  background-size: 100% 100%;
}

.icon-left-gray {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-left-gray.png");
  background-size: 100% 100%;
}

.icon-right-gray {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-right-gray.png");
  background-size: 100% 100%;
}

.icon-up-gray {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-up-gray.png");
  background-size: 100% 100%;
}

.icon-down-gray {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-down-gray.png");
  background-size: 100% 100%;
}

.icon-up-white {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-up-white.png");
  background-size: 100% 100%;
}

.icon-sedan {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-sedan.png");
  background-size: 100% 100%;
}

.icon-trucks {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-trucks.png");
  background-size: 100% 100%;
}

.icon-clear-circle-gray {
  @extend .icon;
  background-image: url("~@/assets/img/icon/icon-clear-circle-gray.png");
  background-size: 100% 100%;
}