/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 滚动条竖向滑块 */
::-webkit-scrollbar-thumb:vertical {
  width: 6px;
  height: 6px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 3px;
}

/* 滚动条竖向滑块hover */
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, .4);
}

/* 滚动条横向滑块 */
::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  height: 6px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 3px;
}

/* 滚动条横向滑块hover */
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(0, 0, 0, .4);
}

/* 同时有垂直和水平滚动条时交汇的部分 */
::-webkit-scrollbar-corner {
  display: block;
  /* 修复交汇时出现的白块 */
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $color-gray;
  font-size: $font-size-12;
  opacity: .8;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-gray;
  font-size: $font-size-12;
  opacity: .8;
}

:-moz-placeholder {
  /* Firefox 19+ */
  color: $color-gray;
  font-size: $font-size-12;
  opacity: .8;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $color-gray;
  font-size: $font-size-12;
  opacity: .8;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  box-sizing: border-box;
  background-color: $color-white;
  border: 1px solid #D6D6D6;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  border: $border-primary
}

.el-dialog {
  border-radius: 8px 8px 6px 6px;

  .el-dialog__header {
    padding: 8px 20px;
    border-radius: 6px 6px 0 0;
    background-color: $color-primary;

    .el-dialog__title {
      color: $color-white;
    }

    .el-dialog__headerbtn {
      top: 12px;

      .el-dialog__close {
        color: $color-white;
      }
    }
  }

  .el-dialog__body {
    margin: 0;
    padding: 16px;
  }
}