.search {
  height: calc(100% - 50px);
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  .search-input {
    flex: none;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
  }
  .search-content {
    flex: 1;
    overflow-y: auto;
  }
}