.clearfix {
  // 触发 hasLayout
  zoom: 1;
}
.clearfix::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

.film-item {
  // .film-img {
  //   width: 100px;
  //   // height: 80px;
  //   float: left;
  // }
}
.film-img {
  width: 100px;
  // height: 80px;
  float: left;
}

.film-detail {
  position: fixed;
  right: 0;
  top: 100px;
  background-color: yellow;
  width: 200px;
  height: 200px;
}