.feedback_big {
  width: 30px;
  height: 80px;
  right: -4px;
  overflow: hidden;
}

.feedback {
  width: 25px;
  height: 80px;
  border-radius: 5px;
  background-color: #2d68fe;
  color: #fff;
  font-size: 16px;
  /* text-align: center; */
  /* line-height: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
