@import "./var.scss";
@import "./reset.scss";
@import "./icon.scss";
@import "./common.scss";

#app {
  font-size: 14px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-base;
  background-color: $bg-color-gray;

}

a {
  font-weight: bold;
  color: $color-base;
}