$color-primary: #FF6E4C;
$color-primary-light: #FFB12D;
$color-red: #E1251B;
$color-white: #FFFFFF;
$color-gray: #999999;
$color-dim: #666666;
$color-base: #333333;
$color-dark: #151515;
$color-blue: #409eff;

$bg-color-gray: #F4F4F4;

$border-color-gray: #E5E5E5;

// $gradients-primary: linear-gradient(to right, $color-primary, $color-primary-light);
$gradients-primary: linear-gradient(224deg, $color-primary-light 0%, $color-primary 100%);

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;

$width-main: 1200px;

$border-primary: 1px solid $color-primary;
$border-gray: 1px solid $border-color-gray;

$padding-size-main: 8px;
$margin-size-main: 8px;